.paragraph {
  font-size: 1.6rem;
  color: $color-brown-dark;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $color-brown;
  letter-spacing: 1px;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-brown-light;
  text-transform: uppercase; }

  li{
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-brown-dark;
  }